*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number] {
  font-size: 1.5rem;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
}

html {
  font-size: 85%;
}

body {
  font-family: "Space Mono", monospace, sans serif;
  font-size: px-to-rem(16);
  font-weight: 500;
  text-decoration: none;
  background: hsl(185, 41%, 84%);
  color: hsl(183, 100%, 15%);
}

p {
  font-size: 0.875rem;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
}
main #logo {
  color: hsl(186, 14%, 43%);
  letter-spacing: 0.3em;
  font-size: 1.4375rem;
  font-weight: 600;
  margin-bottom: 1.5625rem;
}
main #main-section {
  background: hsl(0, 0%, 100%);
  max-width: 31.25rem;
  border-radius: 0.9375rem;
  padding: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
main #main-section .bill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
main #main-section .result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  padding-left: 1rem;
  margin-top: 0.3125rem;
  border: 2px solid hsl(0, 0%, 100%);
  margin-bottom: 1.5625rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}
main #main-section .result-container:hover {
  border: 2px solid hsl(172, 67%, 45%);
  box-shadow: 0 0 3px hsl(172, 67%, 45%);
  transition: all 0.3s ease-in;
}
main #main-section .result-container.active {
  border: 2px solid red;
}
main #main-section .result-container img {
  max-width: 0.5625rem;
}
main #main-section .result-container input {
  outline: none;
  border: none;
  background: inherit;
  text-align: right;
  padding: 0.625rem;
  cursor: pointer;
}
main #main-section .result-container input::-moz-placeholder {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(183, 100%, 15%);
}
main #main-section .result-container input::placeholder {
  font-size: 1rem;
  font-weight: 600;
  color: hsl(183, 100%, 15%);
}
main #main-section .p-tip {
  margin-bottom: 0.9375rem;
}
main #main-section #tip-percent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9375rem;
}
main #main-section #tip-percent li {
  background: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}
main #main-section #tip-percent li:hover {
  color: hsl(183, 100%, 15%);
  background: hsl(172, 67%, 45%);
  box-shadow: 0 0 5px hsl(183, 100%, 15%);
  transition: all 0.1s ease-in;
}
main #main-section #tip-percent .custom-input {
  position: relative;
}
main #main-section #tip-percent .custom-input .percent-symbol {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: hsl(183, 100%, 15%);
}
main #main-section #tip-percent li:last-child {
  background: hsl(189, 41%, 97%);
  border: 2px solid hsl(189, 41%, 97%);
  padding: 0;
}
main #main-section #tip-percent li:last-child:hover {
  border: 2px solid hsl(172, 67%, 45%);
}
main #main-section #tip-percent input {
  background: hsl(189, 41%, 97%);
  width: 100%;
  height: 100%;
  text-align: right;
  outline: none;
  border: none;
  padding-right: 25px;
  cursor: pointer;
  color: hsl(183, 100%, 15%);
  font-size: inherit;
}
main #main-section #tip-percent input::-moz-placeholder {
  font-size: inherit;
  font-weight: 750;
  color: hsl(183, 100%, 15%);
  padding-right: 10px;
}
main #main-section #tip-percent input::placeholder {
  font-size: inherit;
  font-weight: 750;
  color: hsl(183, 100%, 15%);
  padding-right: 10px;
}
main #main-section #people-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
main #main-section #people-sect .num-people {
  margin: 1.5625rem 0 0.9375rem;
}
main #main-section .bill-error {
  font-size: 0.875rem;
  color: red;
  opacity: 0.8;
}
main #main-section .error-message {
  font-size: 0.875rem;
  color: red;
  opacity: 0.8;
}
main #main-section .hide {
  display: none;
}
main #main-section #people-input.active {
  border: 2px solid red;
}
main #main-section .green-section {
  background: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  padding: 1.25rem;
  border-radius: 0.9375rem;
}
main #main-section .green-section .tip-n-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 1.25rem;
}
main #main-section .green-section .tip-n-total p {
  font-weight: 900;
  color: hsl(185, 41%, 84%);
}
main #main-section .green-section .tip-n-total span {
  color: hsl(184, 14%, 56%);
  font-size: 0.75rem;
}
main #main-section .green-section .tip-n-total .amount {
  color: hsl(172, 67%, 45%);
  font-size: 1.875rem;
  font-weight: 800;
}
main #main-section .green-section button {
  border: none;
  outline: none;
  background: hsl(186, 14%, 43%);
  opacity: 0.5;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  min-width: 21.875rem;
  text-transform: uppercase;
  padding: 0.625rem 1rem;
  border-radius: 0.3125rem;
}
main #main-section .green-section button:hover {
  cursor: pointer;
  background: hsl(184, 14%, 56%);
  opacity: 0.8;
  box-shadow: 0 0 8px hsl(184, 14%, 56%);
  transition: all 0.1s ease-in;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 40em) {
  main #main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 55rem;
    gap: 1.5625rem;
    padding: 1.25rem;
  }
  main #main-section #tip-percent {
    grid-template-columns: repeat(3, 1fr);
  }
  main #main-section .green-section button {
    margin-top: 11.25rem;
  }
}/*# sourceMappingURL=style.css.map */